#about{
    position: relative;
    background: {
        color: rgb(255,240,170);
        image: linear-gradient(top left, rgb(170,150, 57), rgb(255,240,170));
        image: linear-gradient(to bottom right,rgb(170,150, 57), rgb(255,240,170));
    }
    line-height: 1.7em;
}
    
#about-text-logos-wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    @media screen and (orientation: landscape) {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        @media (min-height: 600px){
            width: 44em;
        }
    }
    @media screen and (orientation: portrait) and (min-width: 600px){
        height: 44em;
    }
}
    
#about-text{
    position:relative;
    margin: 0 auto;
    padding: 1em 0.5em;
    box-sizing:border-box;
    width: 100%;
    height: 100%; 
    @media screen and (min-width: 600px) and (min-height: 600px){
        top: 5%;
        padding: 1.5em 2em;
        @media screen and (orientation: landscape){
            width: 25em;
            height: 30em;
        }
        @media screen and (orientation: portrait){
            width: 30em;
            height: 25em;
        }
    }
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    background: {
        color: rgb(46, 67,114);
        image: linear-gradient(bottom right, rgb(46, 67,114), rgb(119,136,170));
        image: linear-gradient(to top left,rgb(46, 67,114), rgb(119,136,170));
    }
}

#about-heading {
    width: 5em;
}

#about-body {
    position: relative;
    top: 50%;
    font-size: 0.87em;
    transform: translateY(-63%);
    font-weight: 300;
    @media screen and (orientation: portrait), screen and (min-height: 600px) {
        font-size: 1em;
        transform: translateY(-56%);
    }
}

    
.logo{
    position:absolute;
    width: 10%;
    @media screen and (orientation: landscape){
        width: 7%;
    }
    backface-visibility: hidden;
    background:{
        image: url(../../pics/sprite-blue.png);
        size: cover;
    }
}

.logo-bigger{
    position:absolute;
    width: 20%;
    @media screen and (orientation: landscape){
        width: 14%;
    }
    backface-visibility: hidden;
    background:{
        image: url(../../pics/sprite-blue.png);
        size: cover;
    }
}

.logo-aspect-ratio-padding{
    padding-bottom: 80%;
}

.logo-aspect-ratio-padding-bigger{
    padding-bottom: 40%;
}

#css{
    background-position:0;
    top: 65%;
    left: 14%;
    @media screen and (orientation: landscape){
        top: 16%;
        left: 1.5%;
    }
}

#webpack{
    background-position:7.142857%;
    top: 65%;
    left: 26%;
    @media screen and (orientation: landscape){
        top: 54%;
        left: 81.5%;
    }
}

#karma{
    background-position:14.285714%;
    top: 65%;
    left: 38%;
    @media screen and (orientation: landscape){
        top: 35%;
        left: 1.5%;
    }
}

#sass{
    background-position:21.428571%;
    top: 65%;
    left: 50%;
    @media screen and (orientation: landscape){
        top: 35%;
        left: 11.5%;
    }
}

#react{
    background-position:28.571429%;
    top: 65%;
    left: 62%;
    @media screen and (orientation: landscape){
        top: 54%;
        left: 91.5%;
    }
}

#photoshop{
    background-position:35.714286%;
    top: 65%;
    left: 74%;
    @media screen and (orientation: landscape){
        top: 54%;
        left: 11.5%;
    }
}

#mocha{
    background-position:42.857143%;
    top: 75%;
    left: 14%;
    @media screen and (orientation: landscape){
        top: 73%;
        left: 6.5%;
    }
}

#js{
    background-position:50%;
    top: 75%;
    left: 26%;
    @media screen and (orientation: landscape){
        top: 16%;
        left: 91.5%;
    }
}

#html{
    background-position:57.142857%;
    top: 75%;
    left: 38%;
    @media screen and (orientation: landscape){
        top: 16%;
        left: 81.5%;
    }
}

#chai{
    background-position:64.285714%;
    top: 75%;
    left: 50%;
    @media screen and (orientation: landscape){
        top: 35%;
        left: 81.5%;
    }
}

#bootstrap{
    background-position:71.428571%;
    top: 75%;
    left: 62%;
    @media screen and (orientation: landscape){
        top: 35%;
        left: 91.5%;
    }
}

#jquery{
    background-position:78.571429%;
    top: 75%;
    left: 74%;
    @media screen and (orientation: landscape){
        top: 16%;
        left: 11.5%;
    }
}

#babel{
    background-position:92.307692%;
    top: 85%;
    left: 44%;
    @media screen and (orientation: landscape){
        top: 73%;
        left: 83.5%;
    }
}

#git{
    background-position:100%;
    top: 85%;
    left: 32%;
    @media screen and (orientation: landscape){
        top: 54%;
        left: 1.5%;
    }
}