.about {
  line-height: 1.7em;
  background: {
    color: rgb(255, 240, 170);
    image: linear-gradient(top left, rgb(170, 150, 57), rgb(255, 240, 170));
    image: linear-gradient(to bottom right, rgb(170, 150, 57), rgb(255, 240, 170));
  }
  
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 1.5em;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background: {
      color: rgb(46, 67, 114);
      image: linear-gradient(bottom right, rgb(46, 67, 114), rgb(119, 136, 170));
      image: linear-gradient(to top left, rgb(46, 67, 114), rgb(119, 136, 170));
    }
    
    @include big {
      padding: 0.5em 2em;
      
      @include landscape {
        width: 53%;
      }
      
      @include portrait {
        height: 50%;
      }
    }
    
    &__heading {
      width: 5em;
    }
    
    &__body {
      position: relative;
      font-size: 1.2em;
      margin-bottom: 10%;
      
      @include landscapeSmall {
        font-size: 0.95em;
      }
      
      @include landscapeBig {
        max-width: 365px;
      }
    }
  }
  
  &__picture-of-me {
    display: none;
    
    @include big {
      display: block;
      position: absolute;
      bottom: 0;
      right: 10%;
      height: 47.5%;
      
      @include landscape {
        right: 22%;
        height: auto;
        max-height: 95%;
        max-width: 60%;
        transform: translateX(50%);
      }
    }
  }
}
