.contact {
    @media screen and (orientation:landscape) and (max-height:599px){
            font-size: 0.9em; 
        }
    background: {
        color: rgb(6, 22, 57);
        image: linear-gradient(top right, rgb(6, 22, 57), rgb(255,240,170));
        image: linear-gradient(to bottom left,rgb(6, 22, 57), rgb(255,240,170));
    }
    @media screen and (orientation: portrait) and (min-width: 600px) {
        padding-top: 2em;
    }
    
    &__heading {
        width: 5.4em;
        @media screen and (orientation: portrait), screen and (min-height: 600px) {
            top: 5%;
        }
    }
    
    &__body {
        position:relative;
        margin: 0 auto;
        @media screen and (orientation: portrait), screen and (min-height: 600px) {
            top: 7%;
        }
        @media screen and (orientation: portrait) and (min-width: 600px) {
            top: 10%;
        }
        width:80%;
        line-height: 1.5em;
    }
    
    &__cv {
        position: relative;
        top: 4%;
        @media screen and (orientation: portrait), screen and (min-height: 600px){
            top: 10%;
        }
        
        &__button {
            position: relative;
            cursor: pointer;
            color: inherit;
            font: inherit;
            outline: none;
            box-shadow: 0 0 5px 2px rgba(0,0,0,0.3);
            background: {
                color: rgb(46, 67,114);
                image: linear-gradient(bottom right, rgb(46, 67,114), rgb(119,136,170));
                image: linear-gradient(to top left,rgb(46, 67,114), rgb(119,136,170));
            }
            border: none;
            width: 8.5em;
            height: 1.8em;
            
            &:active {
                transform: scale(0.95);
            }
        }
    }
    
    &__list {
        position: relative;
        margin: 0 auto;
        top: 5%;
        width:100%;
        @media screen and (orientation: portrait), screen and (min-height: 600px){
            top: 12%;
            width:16em;
        }
        @media screen and (orientation: portrait) and (min-width: 600px) {
            top: 17%;
        }
        
        &__item {
            margin: 0.35em auto;
            height: 2em;
            background: {
                size: 14%;
                repeat: no-repeat;
                position: 0 50%;
            }
            line-height: 2em;
            text-align: left;
            cursor:pointer;
            position: relative;
            @media screen and (orientation: portrait), screen and (min-height: 600px){
                margin: 1.3em auto; 
            }
            
            &--phone {
                width: 9.7em;
                background-image: url($phone);
                a {
                    padding-left: 2em;
                }
                 @media screen and (orientation:landscape) and (max-height:599px){
                    display: inline-block;
                    margin-left: 1.5em; 
                }
            }
            &--email {
                width: 15.5em;
                background-image: url($email);
                a {
                    padding-left: 3em;
                }
                @media screen and (orientation:landscape) and (max-height:599px){
                    display: inline-block;
                }
            }
            &--linkedin {
                width: 6em;
                height: 1.6em;
                overflow: hidden;
                img {
                    left: -466.66666666667%;
                }
            }
        }
    }    
}




    
