#contact-heading {
    width: 5.4em;
    font-size: 1em;
    top: 10%;
    @media screen and (orientation: portrait), screen and (min-height: 600px) {
        font-size: 1.5em;
    }
}

#contact {
    background: {
        color: rgb(255,240,170);
        image: linear-gradient(top right, rgb(6, 22, 57), rgb(255,240,170));
        image: linear-gradient(to bottom left,rgb(6, 22, 57), rgb(255,240,170));
    }
    li {
        display: inline-block;
        margin: 0.5em auto;
        height: 2em;
        background: {
            size: 14%;
            repeat: no-repeat;
            position: 0 50%;
        }
        line-height: 2em;
        text-align: left;
        cursor:pointer;
        position: relative;
        @media screen and (orientation: portrait), screen and (min-height: 600px){
            margin: 1.3em auto; 
        }
    }
    #phone {
        width: 9.7em;
        background-image: url($phone);
        a {
            padding-left: 2em;
        }
         @media screen and (orientation:landscape) and (max-height:599px){
            margin-left: 1.5em; 
        }
    }
    #email {
        width: 15.5em;
        background-image: url($email);
        a {
            padding-left: 3em;
        }
    }
    #linkedin {
        background:{
            image: url($linkedin);
            size:100%;
            position: center;
        }
        height: 1.7em;
        width: 7em;
        @media screen and (orientation:landscape) and (max-height:599px){
            top: 0.5em; 
        }
}
}

#contact-body {
    position:relative;
    margin: 0 auto;
    top: 15%;
    width:100%;
    line-height: 1.5em;
    @media screen and (orientation: portrait), screen and (min-height: 600px){
        width: 80%;
        line-height: 1.7em;
    }
}

#contact-list{
    position: relative;
    top: 20%;
    width:100%;
    margin: 0 auto;
    @media screen and (orientation: portrait), screen and (min-height: 600px){
        width:16em;
    }
}
    
