.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: {
        color: rgb(6, 22, 57);
        image: linear-gradient(top, rgb(6, 22, 57), rgb(255, 240, 170));
        image: linear-gradient(to bottom, rgb(6, 22, 57) -30%, rgb(255, 240, 170));
    }
    
    ul {
        width: 75%;
        max-width: 900px;
        margin: 0.5em auto 0 auto;
        
        @include landscapeSmall {
            font-size: 0.87em; 
        }
        @include landscapeBig {
            width: 100%; 
        }
    }
    
    &__direct-li {
        margin-top: 0.75em;
        @include landscapeSmall {
            display: inline-block;
            width: 45%;
            margin-top: 0.25em;
        }
        @include landscapeBig {
            margin-top: 1.5em;
        }
        
        &:nth-child(3){
            margin-bottom: 2em;
            
            @include landscapeSmall {
               margin-top: 0.5em;
            } 
        }
    }
    
    &__heading {
        width: 5em;
        margin-bottom: 0.5em;
        
        @include landscapeSmall {
            margin-bottom: 0;
        }
    }
}



.logo{
    display: inline-block;
    position:relative;
    width: 21%;
    margin: 0 0.5em 1em 0.5em;
    overflow:hidden;
    
    @include landscape {
        margin-top: 0.5em;
        margin-bottom: 0;
    } 
    @include landscapeBig {
        width: 12%;
    }
    
    &--aspect-ratio-padding{
        padding-bottom: 80%;
    }
    
    $logos: html css js react sass jquery bootstrap photoshop php mysql git angular typescript tdd;
    
    @each $logo in $logos {
        $i: index($logos, $logo);
        &__#{$logo} {
            img {
                left: ($i - 1)*(-100%);
            }
        }
    }
}