.skills {
    background: {
        color: rgb(6, 22, 57);
        image: linear-gradient(top, rgb(6, 22, 57), rgb(255, 240, 170));
        image: linear-gradient(to bottom, rgb(6, 22, 57) -30%, rgb(255, 240, 170));
    }
    @media screen and (orientation: portrait) and (min-width: 600px) {
        padding-top: 2em;
    }
    
    ul {
        max-width: 900px;
        margin: 0 auto;
        margin-top: 0.5em;
        @media screen and (orientation: landscape) and (max-height: 599px){
            font-size: 0.87em; 
        }
        @media screen and (orientation: portrait) and (min-width: 600px) {
            width: 80%;
            margin: 1.3em auto;
        }
    }
    
    &__direct-li {
        margin-top: 0.5em;
        @media screen and (orientation: landscape){
            @media (max-height: 599px) {
                width: 40%;
                display: inline-block;
                margin-top: 0.25em;
            }
            @media (min-height: 600px){
                margin-top: 1.5em;
            }
        }
        &:nth-child(3){
            @media screen and (orientation: landscape) and (max-height: 599px){
               margin-top: 0.75em;
            } 
        }
    }
    
    &__heading {
        width: 5em;
        @media screen and (orientation: landscape) and (max-height: 599px){
            margin-bottom:0; 
        }
    }
}



.logo{
    position:relative;
    display: inline-block;
    width: 15%;
    margin: 0 0.5em 1em 0.5em;
    @media screen and (orientation: landscape){
        margin-top: 0.5em;
        margin-bottom: 0;
        @media screen and (min-height: 600px) {
            width: 12%;
        } 
    }
    @media screen and (orientation: portrait) and (min-width: 600px) {
        width: 18%;
    }
    backface-visibility: hidden;
    overflow:hidden;
    
    &--aspect-ratio-padding{
        padding-bottom: 80%;
    }
    
    $logos: css angular karma sass react photoshop mocha js html chai bootstrap jquery typescript git;
    
    @each $logo in $logos {
        $i: index($logos, $logo);
        &__#{$logo} {
            img {
                left: ($i - 1)*(-100%);
            }
        }
    }
}