$w: 'width';
$h: 'height';

@keyframes revealElement {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body, html {
    margin: 0;
    #{$h}: 100%; 
}

body{
    position:relative;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}


.header-background {
    background: {
        image: url(../pics/background2.jpg);
        size: cover;
        position: 50% 50%;
        }
}

.container {
    #{$w}: 100%;
    #{$h}: 100%;
    overflow: hidden;
    cursor: default;
    position: absolute;
    transition: opacity 1s linear, top 1s ease-out;
}
    
.parallax {
    #{$w}: 100%;
    #{$h}: 100%; 
    position:absolute;
    transition: transform 2s linear;
}
    
.shadow {
    position: absolute;
    transform-origin: 0% 0%;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
    transition: transform 2s linear, box-shadow 1.5s ease-out;
}
    
.heading{
    position:absolute;
    #{$w}: 100%;
    text-align:center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
    color: white;
    &#name{
        top: 20%; 
        #{$h}: 8%;
        animation: revealElement 2s;
        font-weight: 100;
    }
    &#occupation{
        top:28%;
        #{$h}: 6%;
        opacity: 0;
        animation: revealElement 2s 0.5s forwards; 
        font-weight:400;
    }
}

.heading-border {
    position: absolute;
    box-sizing: border-box;
    transition: top 2s ease-out, left 2s ease-out, border-color 2s linear;
    &#left {
        border-left: solid 2px rgba(255,255,255,0.0);
        top: -25%; 
    }
    &#right {
        border-right: solid 2px rgba(255,255,255,0.0);
        top: 125%;
    }
    &#top {
        border-top: solid 2px rgba(255,255,255,0.0);
        left:-100%;
    }
    &#bottom {
        border-bottom: solid 2px rgba(255,255,255,0.0);
        left: 200%;
    }
}

.header-nav {
    position:absolute;
    top:50%;
    #{$w}:100%;
    opacity:0;
    animation:revealElement 2s 1s forwards;
    color: white;
    text-align: center;
    font-weight:300;
    ul {
        list-style: none;
        padding:0 0;
        margin: 0 0;
        li {
            line-height: 200%;
        }
    }
    
    
}


