
$w: 'width';
$h: 'height';

@keyframes reveal-element {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-border-left {
    0% {
        transform: translateY(-100%);    
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-border-right {
    0% {
        transform: translateY(100%);    
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slide-border-top {
    0% {
        transform: translateX(100%);    
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-border-bottom {
    0% {
        transform: translateX(-100%);    
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes heading-background {
    0% {
        background-color: rgba(0,0,0,0.0);
        
    }
    100% {
        background-color: rgba(0,0,0,0.6);
    }
}

@keyframes heading-shadow {
    0% {
        box-shadow: inset 0 0 0 0 rgba(0,0,0,0.0);
        
    }
    100% {
        box-shadow: inset 0 0 0.4em 0.1em rgba(0,0,0,0.9);
    }
}

@keyframes top-left-corner{
    0% {
        opacity: 0;
        left: -1.25em;
        top: -1.25em;
    }
    100% {
        opacity: 1;
        left: 0;
        top: 0;
    }
}

@keyframes bottom-right-corner{
    0% {
        opacity: 0;
        left: 21em;
        top: 1.25em;
    }
    100% {
        opacity: 1;
        left: 19.75em;
        top: 0;
    }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body, html {
    #{$h}: 100%; 
}

body{
    position:relative;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}





.header-background {
    background: {
        image: url(../pics/background2.jpg);
        size: cover;
        position: 50% 50%;
        }
}





.container {
    #{$w}: 100%;
    #{$h}: 100%;
    overflow: hidden;
    cursor: default;
    position: absolute;
    transition: opacity 1s linear, top 1s ease-out;
    text-align: center;
    
    .parallax {
        #{$w}: 100%;
        #{$h}: 100%; 
        position:absolute;
        transition: transform 2s linear;
    }
    .shadow {
        position: absolute;
        transform-origin: 0% 0%;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.0);
        transition: transform 2s linear, box-shadow 1.5s ease-out;
    }
    
    .heading {
        position:relative;
        margin: 0 auto;
        top: 7em;
        #{$w}: 17.6em;
        #{$h}: 6em;
        text-align:center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.9);
        color: white;
        animation: heading-shadow 1s 2.5s linear forwards, heading-background 1s 2s linear forwards;
        #name{
            font-size: 2em;
            line-height: 1.6em;
            animation: reveal-element 2s linear;
            font-weight: 100;
        }
        #occupation{
            font-size: 1.6em;
            line-height: 1.3em;
            opacity: 0;
            animation: reveal-element 2s 0.5s linear forwards; 
            font-weight:400;
        }
   
        .heading-border {
            box-sizing: border-box;
            #{$w}: 17.6em;
            #{$h}: 6em;
        
            &#left {
                border-left: solid 2px white;
                animation: slide-border-left 2s ease-out, reveal-element 2s ease-in;
            }
            &#right {
                border-right: solid 2px white;
                animation: slide-border-right 2s ease-out, reveal-element 2s ease-in;
            }
            &#top {
                border-top: solid 2px white;
                animation: slide-border-top 2s ease-out, reveal-element 2s ease-in;
            }
            &#bottom {
                border-bottom: solid 2px white;
                animation: slide-border-bottom 2s ease-out, reveal-element 2s ease-in;
            }
        }
    }
        
    .header-nav {
        position: relative;
        margin: 0 auto;
        top: 14em;
        #{$w}: 21em;
        #{$h}: 2.5em;
        text-align: center;
        font-weight:300;
        color: white;
        background-color: rgba(0,0,0,0.6);
        opacity:0;
        animation:reveal-element 2s 2s forwards;
        
        li {
            float: left;
            box-sizing: border-box;
            #{$w}: 7em;
            #{$h}: 1em;
            padding: 0 1em;
            margin-top: 0.75em;
            line-height: 1em;
            border-right: solid 1px white;
            &.right-menu-item{
                border: none; 
            }
        }
        
        .menu-corner {
            #{$h}: 1.25em;
            #{$w}: 1.25em;
            opacity: 0;
            box-sizing: border-box;
            &#top-left {
                position: relative;
                border-top: solid 2px white;
                border-left: solid 2px white;
                animation: top-left-corner 1s 2.5s ease-out forwards;
            }
            &#bottom-right {
                position: relative;
                left: 19.75em;
                border-bottom: solid 2px white;
                border-right: solid 2px white;
                animation: bottom-right-corner 1s 2.5s ease-out forwards;
            }
        }
 
    } 
}













