body{
    overflow-x: hidden;
}

.container, no-js-container {
    position: relative;
}

.no-js-container{
    height: 100%;   
}

//ewentualnie jeszcze może być potrzebne usunięcie overflow hidden na containerach